{% extends 'title/../universe/../universe/base.html' %}

{% block title %}
О нашем проекте
{% endblock %}

{% block content %}
    <style>
    .bold_text_abouy_us{
        font-weight: bold;
    }
    .subheadings_about_us{
        font-size: 16px;
    }
    </style>
<a>

Мы — команда студентов колледжа, увлечённых кино, сериалами и современными технологиями. Наш проект —<span class="bold_text_abouy_us">"Библиотека фильмов и сериалов"</span>— это результат совместной работы, где мы объединили любовь к кинематографу и навыки в веб-разработке.  

    <h3><span class="bold_text_abouy_us">Наша цель</span> </h3>
Создать удобный и функциональный ресурс, который поможет людям легко находить информацию о любимых фильмах и сериалах, открывать для себя новые произведения и делиться впечатлениями.  

    <h3><span class="bold_text_abouy_us">Что мы предлагаем</span> </h3>
<h6 class="subheadings_about_us">- 📁<span class="bold_text_abouy_us">Обширная база</span> </h6>— информация о фильмах, сериалах, актёрах и режиссёрах.  
<h6 class="subheadings_about_us">- 🔍<span class="bold_text_abouy_us">Удобный поиск</span></h6>— фильтрация по жанрам, годам, рейтингам и другим параметрам.  
<h6 class="subheadings_about_us">- 💬<span class="bold_text_abouy_us">Сообщество</span></h6>— возможность обсуждать любимые киноленты и рекомендовать их другим.  

    <h3><span class="bold_text_abouy_us">Почему мы это делаем?</span></h3>
Этот проект — не только учебная работа, но и наша страсть. Мы верим, что кино и сериалы объединяют людей, и хотим сделать их просмотр ещё более интересным и удобным.  

Присоединяйтесь к нашему ресурсу, ищите свои любимые фильмы, открывайте новые — и, конечно, делитесь отзывами!  

**Команда "Библиотеки фильмов и сериалов"</span>🎬🍿</a>
{% endblock %}
