{% extends 'title/../universe/../universe/base.html' %}

{% block head %}
    <style>
        .style_title {
            background-color: #fff2fe;
            border: 1px solid #f0fad4;
            color: #000000;
            padding: 10px;
            margin-top: 10px;
        }
    </style>
    <style>
        .title__titles_auto_grid {
            display: grid;
            grid-gap: 37px;
            grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
            word-break: break-all;
        }

        .item {
            box-sizing: border-box;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const field_favorite = document.getElementById('field_to_favorite');
            const field_pin = document.getElementById('field_to_pin');
            const icon_switch_bookmark = document.getElementById('icon_switch_bookmark');
            const icon_switch_favorite = document.getElementById('icon_switch_favorite');

            const SelectTypereview = document.getElementById('SelectTypereview');
            const review_textarea = document.getElementById('review_textarea');
            const title_review = document.getElementById('title_review');
            const reviewContainer = document.getElementById('container_review');
            {#const reviewClass = document.querySelector('.User__review');#}

            const FieldsDoCrown = document.querySelectorAll('.userDo__crown span');
            const FieldsDoBookmark = document.querySelectorAll('.userDo__bookmark span');

            const FormReview = document.getElementById('FormReview');
            const PostReview = document.getElementById('Postreview');

            var ispin = {{ ispin }}
            var isfavorite = {{ isfavorite }}

            const csrftoken = getCookie('csrftoken');

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        let cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            if (ispin === 1) {
                change_view_bookmark(1)


            }
            if (isfavorite === 1) {
                change_view_heart(1)

            }

            field_pin.addEventListener("click", (event) => {
                {#alert('asja')#}
                if (ispin === 1) {
                    var path_post = 'pinout'
                    ispin = 0
                } else {
                    var path_post = 'pinit'
                    ispin = 1
                }
                fetch(window.location.pathname + path_post + '/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }

                    })
                    .then(data => {

                    })
                if (ispin === 1) {
                    change_view_bookmark(1)
                } else {
                    change_view_bookmark(0)
                }

            });
            field_favorite.addEventListener("click", (event) => {
                {#alert('asja')#}
                if (isfavorite === 1) {
                    var path_post = 'favoriteout'
                    isfavorite = 0
                } else {
                    var path_post = 'favoriteit'
                    isfavorite = 1
                }
                fetch(window.location.pathname + path_post + '/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }

                    })
                    .then(data => {

                    })
                if (isfavorite === 1) {
                    change_view_heart(1)
                } else {
                    change_view_heart(0)
                }

            });


            SelectTypereview.addEventListener('change', (event) => {
                if (SelectTypereview.value === '1') {
                    PostReview.style.backgroundColor = '#A9F2F5';
                    reviewContainer.style.backgroundColor = '#A9F2F5';
                } else if (SelectTypereview.value === '2') {
                    PostReview.style.backgroundColor = '#C2B1C4';
                    reviewContainer.style.backgroundColor = '#C2B1C4';
                } else if (SelectTypereview.value === '3') {
                    PostReview.style.backgroundColor = '#DB7093';
                    reviewContainer.style.backgroundColor = '#DB7093';
                } else {
                    reviewContainer.style.backgroundColor = 'white';
                }

            });

            PostReview.addEventListener('click', (event) => {
                if (SelectTypereview.value === '') {
                    return
                }
                const dataToSend = {
                    user_id: {{ user_id }},
                    title: title_review.value,
                    type: SelectTypereview.value,
                    text: review_textarea.value
                };

                fetch(window.location.pathname + "review/", {  // URL вашего представления (определите в urls.py)
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken
                    },
                    body: JSON.stringify(dataToSend)
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        reviewContainer.innerHTML = "<h3>Рецензия отправлена</h3>"
                    })
            });

            function change_view_bookmark(change_type) {
                if (change_type === 1) {
                    text_update = `<svg class="svg_icon active" xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24" width="26" height="26"><path d="M2.849,23.55a2.954,2.954,0,0,0,3.266-.644L12,17.053l5.885,5.853a2.956,2.956,0,0,0,2.1.881,3.05,3.05,0,0,0,1.17-.237A2.953,2.953,0,0,0,23,20.779V5a5.006,5.006,0,0,0-5-5H6A5.006,5.006,0,0,0,1,5V20.779A2.953,2.953,0,0,0,2.849,23.55Z"/></svg>`
                    field_pin.classList.add('active')
                } else {
                    text_update = `<svg class="svg_icon" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="26" height="26"><path d="M20.137,24a2.8,2.8,0,0,1-1.987-.835L12,17.051,5.85,23.169a2.8,2.8,0,0,1-3.095.609A2.8,2.8,0,0,1,1,21.154V5A5,5,0,0,1,6,0H18a5,5,0,0,1,5,5V21.154a2.8,2.8,0,0,1-1.751,2.624A2.867,2.867,0,0,1,20.137,24ZM6,2A3,3,0,0,0,3,5V21.154a.843.843,0,0,0,1.437.6h0L11.3,14.933a1,1,0,0,1,1.41,0l6.855,6.819a.843.843,0,0,0,1.437-.6V5a3,3,0,0,0-3-3Z"/></svg>`
                    field_pin.classList.remove('active')
                }
                icon_switch_bookmark.innerHTML = text_update

            }

            function change_view_heart(change_type) {
                if (change_type === 1) {
                    text_update = `<svg class="svg_icon active" xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24" width="26" height="26"><path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z"/></svg>`
                    field_favorite.classList.add('active')

                } else {
                    text_update = `<svg class="svg_icon" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="26" height="26"><path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"/></svg>`
                    field_favorite.classList.remove('active')

                }
                icon_switch_favorite.innerHTML = text_update

            }
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const ratingStars = document.querySelectorAll('.title_rating span');
            const ratingText = document.querySelectorAll('.text_rating_choose span');
            const ratingInput = document.querySelector('.title_rating input[name="rating"]');
            const ratingDiv = document.querySelector('.title_rating');
            const rate_button_wrapper = document.getElementById('rate_button_wrapper');
            const field_change_rate = document.getElementById("field_change_rate")
            const stars_wrapper = document.getElementById('stars_wrapper')

            const movieId = ratingDiv.dataset.movieid;
            const csrfToken = getCookie('csrftoken');


            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        let cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            {#const  = document.querySelector('.span_rate');#}
            ratingStars.forEach(star => {
                star.addEventListener('click', () => {
                    const value = star.dataset.value;
                    console.log('Успех:', value);

                    ratingInput.value = value;
                    console.log('Успех:', value);

                    highlightStars(value);

                    fetch(window.location.pathname + `rate/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken
                        },
                        body: JSON.stringify({rating: value})
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(data => {
                            stars_wrapper.style.display = 'none'
                            field_change_rate.innerText = `${Number(value) + 1}`
                            field_change_rate.classList.add('rate')
                        })
                        .catch(error => {
                            console.error('Ошибка:', error);
                            alert('Произошла ошибка при сохранении оценки.');
                        });
                });

                star.addEventListener('mouseover', () => {
                    highlightStars(star.dataset.value);
                    changeColor()
                });

                star.addEventListener('mouseout', () => {
                    highlightStars(ratingInput.value);
                    changeColor()

                });

            });

            function highlightStars(value) {
                ratingText.forEach(rate => {
                    rate.textContent = Number(value) + 1;
                })
                ratingStars.forEach(star => {
                    if (star.dataset.value <= value) {
                        star.textContent = '★';
                        var color = "green", val = value;
                        if (val > 4 && val < 7) {
                            color = "grey";
                        } else if (val <= 4) {
                            color = "red";
                        }
                        star.style.color = color
                    } else {
                        star.textContent = '☆';
                        star.style.color = 'black'
                    }
                });

            }

            function changeColor() {
                ratingText.forEach(rate => {
                    var color = "green", val = Number(rate.textContent);
                    if (val > 4 && val < 7) {
                        color = "grey";
                    } else if (val <= 4) {
                        color = "red";
                    }
                    rate.style.color = color;
                })

            }

            document.getElementById("rate_button_wrapper").addEventListener('click', event => {
                stars_wrapper.style.display = 'flex'
                target_bound = event.target.getBoundingClientRect()
                console.log(target_bound.left, target_bound.top)
                stars_wrapper.style.left = target_bound.left + 'px'
                stars_wrapper.style.top = event.pageY - target_bound.height + 'px'

            });
            stars_wrapper.addEventListener('mouseleave', event => {
                stars_wrapper.style.display = 'none'
            })
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var rate_text = document.querySelector('.span_rate');
            changeColor(Number(rate_text.textContent), rate_text);
        });

        function changeColor(val, rate_text) {
            var color = "green";
            if (val > 4 && val < 7) {
                color = "yellow";
            } else if (val <= 4) {
                color = "red";
            }
            rate_text.style.color = color;
        }
    </script>
    <script>
        document.getElementById('scrollButton').addEventListener('click', function () {
            document.querySelector('#targetDiv').scrollIntoView({behavior: 'smooth'});
        });
    </script>
    <script> // работа с появлением мини окна персоны
    document.addEventListener('DOMContentLoaded', function () {
        ol()
    });

    timeout = setTimeout(() => {
        console.log('Прошла 1 секунда')
    }, 500)
    clearTimeout(timeout);

    function ol() {

        var hint = document.createElement('div');
        hint.className = "hint";
        document.body.appendChild(hint);
        var path = document.getElementsByClassName("title__person_list__person_name");
        var i;
        var timeout = 0
        for (i = 0; i < path.length; i++) {
            path[i].addEventListener('mouseenter', function (e) {
                hint.innerText = ''
                {#hint.style.display = 'inline-block';#}
                var target = e.target
                let bounds = e.target.getBoundingClientRect();
                let width_target = e.target.offsetWidth
                if (e.pageX + hint.offsetWidth < document.body.offsetWidth) {
                    {#console.log(bounds.top + 10 + 'px')#}
                    hint.style.top = e.pageY + 10 + 'px';
                    hint.style.left = bounds.left - 300 - width_target / 2 + 'px';
                }
                timeout = setTimeout(() => {

                    fetch(target.href + "/mini", {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            {#console.log(data)#}
                            person = data.person
                            hint.innerHTML = `
                                <div style=" display: flex; gap: 5px; flex-direction: row;">

                                    <div style="flex: 1; width: 100px">
                                        <img src='${person.photo}' alt='${person.name}' style='width: 100px;'>
                                    </div>
                                    <div style="flex: 1;">
                                        <h3>${person.name}</h3>
                                        <p>${person.age} лет</p>
                                        <p>${person.sex}</p>
                                    </div>
                                </div>

                                `;
                            hint.style.display = 'inline-block';

                        });
                }, 500)

            });
            path[i].addEventListener('mouseleave', function () {
                clearTimeout(timeout);
                hint.style.display = 'none';
            });
        }
    }
    </script>

    {% if request.user_agent.is_mobile %}
        <style>
            .title__mobile__main_wrapper {

            }

            .title__mobile__title_name {

            }
        </style>
    {% else %}
        <style>
            .hint {
                display: none;
                padding: 8px 8px 8px;
                border-radius: 5px;
                position: absolute;
                width: 300px;
            {#border: 4px solid #C2B1C4;#} background-color: white;
                z-index: 9999999;
                box-shadow: 0 0 10px rgba(194, 177, 196, 1);
                animation: ani 0.5s forwards;
            }

            @keyframes ani {
                0% {
                    width: 0;
                }
                100% {
                    width: 300px;
                }
            }
        </style>
        <style>
            .title__main_wrapper {
                display: flex;
                gap: 30px;
                flex-direction: row;
                margin-top: 20px
            }

            .title__poster_info {
                flex: 2;
            }

            .title__poster_info_wrapper {
                display: flex;
                gap: 15px;
                flex-direction: row;
            }

            .title__info {
                flex: 1;
                background-color: #F2D0CE;
                border-radius: 10px;

            }

            .title__info__user_buttons {
                margin: 10px 0 10px;
            }

            .title__name_title {
                min-width: 285px;
                font-size: 44px;

            }

            .title__info__values {
                display: flex;
                flex-direction: row;
            }

            .title__info__values_name {
                flex: 2;
            }

            .title__info__values_value {
                flex: 3;
            }

            .title__poster {
                min-width: auto;
                max-width: 300px;
            }


            .title__poster_watch {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 20px;

                min-width: 100px;
                max-width: 300px;
            }

            .title__info__watch_wrapper {
                margin-top: 10px;
                border-radius: 5px;
                background-color: #6B7A6F;
                padding: 11px 15px 10px;
                text-align: center;
            }

            .link_on_watch_buttons_wrapper {
                margin-top: 33px;
                display: flex;
                flex-direction: row;
                gap: 60px;
            }

            .link_watch_button {
                background-color: #FBCAB7;
                border-radius: 90px;
                padding-top: 8px;
                align-items: center;

            }

            .title__info_description {

            }

            .title__persons_rate_wrapper {
                flex: 1;
                max-width: 230px;
            }

            .title__persons_wrapper {
                margin-top: 10px;
            }

            .title__person_list {
                list-style: none;
            }

            .title__person_list_element {
                margin: 0;
                padding: 0;
            }

            .title__person_list__person_name {
                color: black;
                text-decoration: none;

            }

            .title__person_list__person_name:hover {
                color: #DB7093;
            }

            .title_rating_choose_menu {
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: space-between;
            }

            .title_rating_text {
                font-size: 25px;
            }

            .title_rating_wrapper {
                justify-content: space-between;
                position: absolute;
                left: 10px;
                top: 65px;
                display: none;
                padding: 5px 8px 5px;
                background-color: #FBB89F;
                border-radius: 10px;
                align-items: center;
                height: 100px;
                width: 370px;
                z-index: 100;
            }

            .text_rating_choose {
                padding-left: 5px;
                font-size: 35px;
            }
        </style>
        <style>
            .poster-container {
                display: flex;
                overflow-x: auto;
                white-space: nowrap;
            }

            .poster-item {
                position: relative;
                display: inline-block;
            }

            .poster-item img {
                width: 150px;
                height: 275px;
                object-fit: cover;
                display: block; /* Чтобы убрать небольшой отступ снизу */
            }

            .poster-title {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                color: white;
                padding: 10px;
                box-sizing: border-box;
                overflow: hidden;
                hyphens: none;
            }

            .poster-ratefilm {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 20%;
            {#background-color: rgba(255,84,1, 0.9);#} background-color: rgba(219, 112, 147, 0.9);
                color: black;
                padding: 2px 2px 2px;
                box-sizing: border-box;
                border-radius: 90px;
                text-align: center;
            {#border-bottom-right-radius: 90px;#}{#border-top-right-radius: 90px;#}
            }

            .poster-kprate {
                box-shadow: 0 0 5px rgba(0, 0, 0, 1);
                position: absolute;
                top: 5px;
                left: 80px;
                width: 20%;
                background-color: rgba(255, 84, 1, 0.9);

            {#background-color: rgba(255, 209, 218, 0.9);#} color: black;
                padding: 2px 2px 2px;
                box-sizing: border-box;
                border-radius: 90px;
                text-align: center;
            {#border-bottom-right-radius: 90px;#}{#border-top-right-radius: 90px;#}
            }

            .poster-imdbrate {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 20%;
                background-color: rgba(245, 197, 24, 0.9);
            {#169, 242, 245#} color: black;
                padding: 2px 2px 2px;
                box-sizing: border-box;
                border-radius: 90px;
                text-align: center;
            }

            .title__rate_button_wrapper {
                margin: 20px 0 20px;

            }

            .title__rate_button {
                font-size: 30px;
                align-content: center;
                position: relative;
                z-index: 10;
                display: flex;
                justify-content: space-between;
                padding: 0 10px 0;
            {#background-color: palevioletred;#} box-shadow: 0 1px 2px rgba(107, 122, 111, 0.50);
                overflow: hidden;

                border-radius: 90px;
            {#width: 70px;#}{#height: 70px;#}{#padding: 10px 10px;#} cursor: default;
                color: black;
                border-top: None;
                text-decoration: none;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    border-radius: 0;
                    z-index: -2;
                }

                &:before {

                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                {#background-color: #A4DC71;#} background-color: #6B7A6F;

                    color: white;
                    transition: all .3s;
                    border-radius: 0;
                    z-index: -1;
                }

                &:hover {
                    color: white;

                    &:before {
                        width: 70%;
                    }
                }
            }

            .title__rate_button.rate {
                .user_rate {
                    color: white;
                    background-color: #CD180E;
                    border-radius: 90px;
                    width: 44px;
                    height: 44px;
                    display: flex;
                    justify-content: center;
                }
            }

            .container_main {
                background-color: white;
            }

            .svg_icon {

            }

            .svg_icon.active {
                fill: white;
            }
        </style>
    {% endif %}
{% endblock %}


{% block mobile_content %}
    <div class="title__mobile__main_wrapper">
        <div class="title__mobile__title_name">
            {{ dict_title.name }} ({{ dict_title.year_create }})
        </div>
    </div>
{% endblock %}

{% block desktop_content %}

    <div class="title__main_wrapper">
        <div class="title__poster_info">
            <div class="title__poster_info_wrapper">
                <div class="title__info">
                    <h2 class="title__name_title">{{ dict_title.name }} ({{ dict_title.year_create }})</h2>
                    <div class="title__info__user_buttons">
                        {#                    {% if user_auth %}#}
                        {#                        <div class="buttons_flex">#}
                        {#                            <a class="title__button" id="field_to_favorite" data-value="0">#}
                        {#                                <span class="userDo__crown" id="icon_switch_favorite">#}
                        {#                                    <svg class="svg_icon" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="26" height="26"><path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"/></svg>#}
                        {#                                </span>#}
                        {#                                Избранное</a>#}
                        {#                            <a class="title__button" id="field_to_pin" data-value="0">#}
                        {#                                <span class="userDo__bookmark" id="icon_switch_bookmark">#}
                        {#                                    <svg class="svg_icon" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="26" height="26"><path d="M20.137,24a2.8,2.8,0,0,1-1.987-.835L12,17.051,5.85,23.169a2.8,2.8,0,0,1-3.095.609A2.8,2.8,0,0,1,1,21.154V5A5,5,0,0,1,6,0H18a5,5,0,0,1,5,5V21.154a2.8,2.8,0,0,1-1.751,2.624A2.867,2.867,0,0,1,20.137,24ZM6,2A3,3,0,0,0,3,5V21.154a.843.843,0,0,0,1.437.6h0L11.3,14.933a1,1,0,0,1,1.41,0l6.855,6.819a.843.843,0,0,0,1.437-.6V5a3,3,0,0,0-3-3Z"/></svg>#}
                        {#                                </span>#}
                        {#                                Буду смотреть</a>#}
                        {#                        </div>#}
                        {##}
                        {#                    {% endif %}#}
                    </div>
                    <div>
                        {% if user_auth %}
                            {#                            {% if not user_rate %}#}
                            {#                        <div class="text_rating">#}
                            {#                            <h3><b>Ваша оценка</b> <span class="choose_rate"></span></h3>#}
                            {#                        </div>#}
                            <style>
                                .star {
                                    margin: 0 0 0;
                                    padding: 5px 5px 5px;
                                }
                            </style>
                            {#                                <div class="title__rate_button_wrapper" >#}
                            {#                                #}
                            {#                                    {% if not user_rate %}#}
                            {#                                        <a class="title__rate_button" id="rate_button_wrapper">Оценить</a>#}
                            {#                                    {% else %}#}
                            {#                                        <a class="title__rate_button rate" id="rate_button_wrapper">#}
                            {#                                                <div>Изменить оценку</div>#}
                            {#                                                <div class="user_rate" id="field_change_rate">{{ user_rate|floatformat:"0" }}</div>#}
                            {#                                        </a>#}
                            {#                                    {% endif %}#}
                            {#                                </div>#}
                            <div class="title__rate_button_wrapper">
                                <a class="title__rate_button {% if user_rate %}rate{% endif %}" id="rate_button_wrapper">
                                    {% if not user_rate %}
                                        <div>Оценить</div>
                                    {% else %}
                                        <div>Изменить оценку</div>
                                    {% endif %}
                                    <div class="user_rate" id="field_change_rate">{% if user_rate %}{{ user_rate|floatformat:"0" }}{% endif %} </div>
                                </a>
                            </div>
                            <div class="title_rating_wrapper" id='stars_wrapper'>
                                <div class="title_rating_choose_menu">
                                    <div class="title_rating_text">Оценить</div>
                                    <div class="title_rating" style="cursor: pointer;"
                                         data-movieid={{ dict_title.id }}>
                                        <span class="star" data-value="0">☆</span><span class="star"
                                                                                        data-value="1">☆</span>
                                        <span class="star" data-value="2">☆</span><span class="star"
                                                                                        data-value="3">☆</span>
                                        <span class="star" data-value="4">☆</span><span class="star"
                                                                                        data-value="5">☆</span>
                                        <span class="star" data-value="6">☆</span><span class="star"
                                                                                        data-value="7">☆</span>
                                        <span class="star" data-value="8">☆</span><span class="star"
                                                                                        data-value="9">☆</span>
                                        <input type="hidden" name="rating" value="-1">
                                    </div>
                                </div>
                                <div class="text_rating_choose">
                                    <span class="choose_rate"></span>
                                </div>
                            </div>

                            {#                        {% else %}#}
                            {#                            <h3><b>Ваша оценка</b> <span class="span_rate">{{ user_rate|floatformat:"0" }}</span></h3>#}
                            {#                        {% endif %}#}
                        {% else %}
                            <h3>Зарегистрируйтесь, чтобы оценить</h3>
                        {% endif %}
                    </div>
                    <div>
                        {% if dict_title.rate_film %}
                            <div class="title__info__values">
                                <div class="title__info__values_name"><h6>RATEFILM</h6></div>
                                <div class="title__info__values_value">{{ dict_title.rate_film }}</div>
                            </div>
                        {% endif %}
                        {% if dict_title.kp_rate %}
                            <div class="title__info__values">
                                <div class="title__info__values_name"><h6>Кинопоиск</h6></div>
                                <div class="title__info__values_value">{{ dict_title.kp_rate }}</div>
                            </div>
                        {% endif %}

                        {% if dict_title.imdb_rate %}
                            <div class="title__info__values">
                                <div class="title__info__values_name"><h6>imdb</h6></div>
                                <div class="title__info__values_value">{{ dict_title.imdb_rate }}</div>
                            </div>
                        {% endif %}

                        {% if countries %}
                            <div class="title__info__values">
                                <div class="title__info__values_name"><h6>Страны</h6></div>
                                <div class="title__info__values_value">{% for country in countries %}
                                    {{ country.name }} {% endfor %}</div>
                            </div>
                        {% endif %}

                        {% if genres %}
                            <div class="title__info__values">
                                <div class="title__info__values_name"><h6>Жанры</h6></div>
                                <div class="title__info__values_value">{% for genre in genres %}
                                    {{ genre.name }} {% endfor %}</div>
                            </div>
                        {% endif %}

                        {% if dict_title.age_rating %}
                            <div class="title__info__values">
                                <div class="title__info__values_name"><h6>Возрастное ограничение</h6></div>
                                <div class="title__info__values_value">{{ dict_title.age_rating }}</div>
                            </div>
                        {% endif %}

                        {% if dict_title.type_name %}
                            <div class="title__info__values">
                                <div class="title__info__values_name"><h6>тип</h6></div>
                                <div class="title__info__values_value">{{ dict_title.type_name }}</div>
                            </div>
                        {% endif %}
                        {% if dict_title.movie_length %}
                            <div class="title__info__values">
                                <div class="title__info__values_name"><h6>Продолжительность</h6></div>
                                <div class="title__info__values_value">{{ dict_title.movie_length }} минут</div>
                            </div>
                        {% endif %}
                        {% if dict_title.total_series_length %}
                            <div class="title__info__values">
                                <div class="title__info__values_name"><h6>Количество серий</h6></div>
                                <div class="title__info__values_value">{{ dict_title.total_series_length }}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="title__poster_watch">
                    <img class="title__poster" src="{{ dict_title.poster }}" alt="{{ dict_title.name }}">
                    {% if user_auth %}
                        <div class="buttons_flex">
                            <a class="title__button" id="field_to_favorite" data-value="0">
                                <span class="userDo__crown" id="icon_switch_favorite">
                                    <svg class="svg_icon" xmlns="http://www.w3.org/2000/svg" id="Outline"
                                         viewBox="0 0 24 24" width="26" height="26"><path
                                            d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"/></svg>
                                </span>
                                Любимое
                                {#                                Избранное#}
                            </a>
                            <a class="title__button" id="field_to_pin" data-value="0">
                                <span class="userDo__bookmark" id="icon_switch_bookmark">
                                    <svg class="svg_icon" xmlns="http://www.w3.org/2000/svg" id="Outline"
                                         viewBox="0 0 24 24" width="26" height="26"><path
                                            d="M20.137,24a2.8,2.8,0,0,1-1.987-.835L12,17.051,5.85,23.169a2.8,2.8,0,0,1-3.095.609A2.8,2.8,0,0,1,1,21.154V5A5,5,0,0,1,6,0H18a5,5,0,0,1,5,5V21.154a2.8,2.8,0,0,1-1.751,2.624A2.867,2.867,0,0,1,20.137,24ZM6,2A3,3,0,0,0,3,5V21.154a.843.843,0,0,0,1.437.6h0L11.3,14.933a1,1,0,0,1,1.41,0l6.855,6.819a.843.843,0,0,0,1.437-.6V5a3,3,0,0,0-3-3Z"/></svg>
                                </span>
                                Закрепить</a>
                        </div>

                    {% endif %}
                    <div class="title__info__watch_wrapper">
                        <h3>Просмотр</h3>
                        <div class="link_on_watch_buttons_wrapper">
                            <a class="link_watch_button" href="https://rutube.ru/search/?query={{ dict_title.name }}">
                                <svg width="30" height="30" viewBox="0 0 17 15" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.24517 9.00647H3.43209V6.67665H9.24517C9.58472 6.67665 9.82082 6.73659 9.93931 6.84127C10.0578 6.94596 10.1312 7.14011 10.1312 7.42373V8.26028C10.1312 8.55911 10.0578 8.75326 9.93931 8.85794C9.82082 8.96263 9.58472 9.00736 9.24517 9.00736V9.00647ZM9.64397 4.48014H0.966797V14.4436H3.43209V11.2021H7.97538L10.1312 14.4436H12.8918L10.515 11.1869C11.3913 11.0553 11.7847 10.7834 12.1093 10.3351C12.4338 9.88686 12.5965 9.1702 12.5965 8.21376V7.46667C12.5965 6.89943 12.5372 6.45118 12.4338 6.10761C12.3303 5.76405 12.1535 5.46522 11.9024 5.1968C11.6371 4.94271 11.3417 4.76376 10.9871 4.64387C10.6326 4.53919 10.1896 4.47925 9.64397 4.47925V4.48014Z"
                                          fill="#100943"></path>
                                    <path d="M14.7866 4.4792C15.8326 4.4792 16.6805 3.63095 16.6805 2.58457C16.6805 1.5382 15.8326 0.689941 14.7866 0.689941C13.7405 0.689941 12.8926 1.5382 12.8926 2.58457C12.8926 3.63095 13.7405 4.4792 14.7866 4.4792Z"
                                          fill="#ED143B"></path>
                                </svg>
                            </a>
                            <a class="link_watch_button" href="https://pandahd.lat/film/{{ dict_title.id }}/">PANDA</a>
                            <a class="link_watch_button"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title__info_description">
                <p>{{ dict_title.description }}</p>
            </div>
        </div>
        <div class="title__persons_rate_wrapper">
            <div>

            </div>
            <div class="title__persons_wrapper">

                {% for key, person_list in persons.items %}
                    <h6>{{ key }}</h6>
                    <nav>
                        <ul class="title__person_list">
                            {% for person in person_list %}
                                <li class="title__person_list_element"><a class="title__person_list__person_name"
                                                                          href="/person/{{ person.person_id }}">{{ person.person_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% endfor %}

            </div>
        </div>
    </div>
    <style>
    .vk_video_player{
        display: flex;
        justify-content: center;
        background-color: #F2D0CE;
        padding: 10px 0 10px;
        border-radius: 10px;
    }
    </style>
    <div class="title__player">
{#        <div>Просмотр</div>#}
        {% if dict_title.oid_link %}
            <div class="vk_video_player">
                <iframe src="https://vkvideo.ru/video_ext.php?oid={{ dict_title.oid_link }}&id={{ dict_title.id_link }}&hd=2&autoplay=0"
                        width="600" height="338"
                        allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0"
                        allowfullscreen></iframe>
            {#        <iframe src="https://vkvideo.ru/video_ext.php?oid=-220018529&id=456243546&hd=2&autoplay=1" width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0" allowfullscreen></iframe>#}
            </div>
        {% endif %}
    </div>
    <div class="title__sap_wrapper">
        {% if seq_and_preq %}
            <h2>Сиквелы и прикелы</h2>
        {% endif %}
        <div class="title__titles_auto_grid">
            {% for title in seq_and_preq %}

                <div class="poster-item">
                    <a href="/title/{{ title.id }}">
                        <img src="{{ title.poster }}" alt="{{ title.name }}">
                        <div class="poster-title">{{ title.name }}</div>


                    </a>
                </div>
                {#                <div class="style_title">#}
                {#                    <div>#}
                {#                        <img src="{{ movie.poster }}" alt="{{ movie.name }}" style="max-width: 100%;"#}
                {#                             class="poster-image">#}
                {#                        <a href="/title/{{ movie.id|add:0 }}"> {{ movie.name }}</a>#}
                {#                    </div>#}
                {#                </div>#}
            {% endfor %}
        </div>
    </div>
    <div class="title__grid_wrapper">
        {% if similars %}
            <h2>Похожие</h2>
        {% endif %}
        <div class="title__titles_auto_grid">
            {% for title in similars %}
                <div class="poster-item">
                    <a href="/title/{{ title.id }}">
                        <img src="{{ title.poster }}" alt="{{ title.name }}">
                        <div class="poster-title">{{ title.name }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        .title__button {
            text-align: center;
            flex: 1;
        {#background-color: palevioletred;#} box-shadow: 0 1px 2px rgba(107, 122, 111, 0.50);

            border-radius: 90px;
            padding: 10px 10px;
            cursor: default;
            color: black;
            border-top: None;
            text-decoration: none;
        }

        .title__button.active {
            background-color: #CD180E;
            color: white;

        }

        .title__button.active:hover {
            background-color: #a6150d;
            color: #cacaca;

        }

        .title__button:hover {
            color: gray;
            background-color: #f3f0ef;
        }

        .buttons_flex {
            display: flex;
            flex-direction: row;
        {#gap: 5px;#}
        }
    </style>
    <style>
        .title__review__wrapper {
            margin-top: 40px;
            display: grid;
            grid-template-columns: auto 570px auto;
            gap: 20px
        }

        .title__review__left_column {
            flex: 1;
        }

        .title__review__right_column {
            top: 75px;
            flex: 1;
            height: 200px;
            position: sticky;
        }

        .title__reviews__for_watch {
            flex: 3;
            align-items: center;

            overflow-y: auto;

        }

        .User__review {
            background-color: #F2D0CE;
            border-radius: 21px;
            margin-bottom: 20px;
            padding: 10px 10px 20px;
            width: 550px;

        }

        .User__review__title {
            margin: 10px auto 10px;
            text-align: center;
        }

        .title__written_reviews_wrapper {
            margin-bottom: 20px;
        }

        .User__review__texttitle {
            margin: 10px auto 10px;
            border-radius: 5px;
            display: block;
            width: 100%;
            height: 30px;
            font-family: inherit;
            left: 0;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #bdbdbd;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .User__review__maintext {
            margin: 10px auto 10px;
            border-radius: 5px;

        }

        .User__review__button {
            border-radius: 90px;
            background-color: gray;
        }

        .User__review__button {
            background-color: palevioletred;
            border-radius: 90px;
            padding: 10px 10px;
            cursor: default;
            color: black;
            border-top: None;
            text-decoration: none;
        }

        .User__review__button:hover {
            color: gray;
            background-color: pink;
        }

        .User__review__select_type {
            display: block;
            font-size: 13px;
            color: #444;
            line-height: 1.3;
            padding: .6em 1.4em .5em .8em;
            height: 30px;
            width: 100%;
            box-sizing: border-box;
            margin: 0 0 10px;
            border: 1px solid #aaa;
            box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
            border-radius: .5em;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 50%, 0 0;
            background-size: .65em auto, 100%;

        }

        .link_to_reviews {
            background-color: #CD180E;
            color: white;
            padding: 10px 10px 10px;
            text-decoration: none;
            font-size: 20px;
            border-radius: 90px;
        }

        .link_to_reviews:hover {
            color: black;
            background-color: #dfa9bb;
        }

        .link {
            text-decoration: none;
            color: black;
        }
        .User__review__reactions{
            display: flex;
            flex-direction: row;
            justify-content: right;
            gap: 5px;
        }
        .User__review__reaction{
            border-radius: 90px;
            padding: 5px 5px 5px;
            &.like{
                background-color: #1a8c91;
                color: white;
            }
            &.dislike{
                background-color: #CD180E;
                color: white;
            }
            .svg_reaction{
                fill: white;
            }
        }

    </style>
    <div class="title__review__wrapper">
        <div class="title__review__left_column">

        </div>
        <div class="title__reviews__for_watch">


            <div class="title__written_reviews_wrapper">
                {% for review in reviews %}
                    <div class="User__review">
                        <div style="display:flex; justify-content: space-between">
                            <a href="/accounts/profile/{{ review.id_user }}" class="link"><h4>{{ review.nickname }}</h4>
                            </a>
                            <h4>{{ review.date_review }}</h4>
                        </div>
                        <a href="/accounts/profile/{{ review.id_user }}/review/{{ dict_title.id }}" class="link">
                            <h5>{{ review.title_name }}</h5>
                            <p>{{ review.title_content }}...</p>
                            <div class="User__review__reactions">
                                <div class="User__review__reaction like" >
                                    {{ review.count_like }}
                                    <svg class="svg_reaction" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="26" height="26"><path d="M23.951,12.3l-.705-5A5.024,5.024,0,0,0,18.3,3H5A5.006,5.006,0,0,0,0,8v5a5.006,5.006,0,0,0,5,5H7.712l1.914,3.878a3.037,3.037,0,0,0,5.721-1.837L15.011,18H19a5,5,0,0,0,4.951-5.7ZM5,5H7V16H5a3,3,0,0,1-3-3V8A3,3,0,0,1,5,5Zm16.264,9.968A3,3,0,0,1,19,16H13.833a1,1,0,0,0-.987,1.162l.528,3.2a1.024,1.024,0,0,1-.233.84,1.07,1.07,0,0,1-1.722-.212L9.23,16.558A1,1,0,0,0,9,16.266V5h9.3a3.012,3.012,0,0,1,2.97,2.581l.706,5A3,3,0,0,1,21.264,14.968Z"/></svg>
                                </div>
                                <div class="User__review__reaction dislike" >
                                    {{ review.count_dislike }}
                                    <svg class="svg_reaction" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="26" height="26"><path d="M22.773,7.721A4.994,4.994,0,0,0,19,6H15.011l.336-2.041A3.037,3.037,0,0,0,9.626,2.122L7.712,6H5a5.006,5.006,0,0,0-5,5v5a5.006,5.006,0,0,0,5,5H18.3a5.024,5.024,0,0,0,4.951-4.3l.705-5A5,5,0,0,0,22.773,7.721ZM2,16V11A3,3,0,0,1,5,8H7V19H5A3,3,0,0,1,2,16Zm19.971-4.581-.706,5A3.012,3.012,0,0,1,18.3,19H9V7.734a1,1,0,0,0,.23-.292l2.189-4.435A1.07,1.07,0,0,1,13.141,2.8a1.024,1.024,0,0,1,.233.84l-.528,3.2A1,1,0,0,0,13.833,8H19a3,3,0,0,1,2.971,3.419Z"/></svg>
                                </div>
                            </div>
                        </a>
                            
                    </div>
                {% endfor %}
            </div>

            {% if user_auth %}
                <div class="User__review" id="container_review">
                    <h3 class="User__review__title">Написать рецензию</h3>
                    <h5>Тип рецензии</h5>
                    <select class="User__review__select_type" id="SelectTypereview">
                        <option value="">-- Выберите тип --</option>
                        <option value="1">Положительное</option>
                        <option value="2">Нейтральная</option>
                        <option value="3">Отрицательная</option>
                    </select>

                    <h5>Заголовок</h5>
                    <div>
                        <input type="text" size="50" id="title_review" class="User__review__texttitle">
                    </div>

                    <h5>Текст рецензии</h5>
                    <textarea name="comment" rows="10" cols="50" class="User__review__maintext"
                              id="review_textarea"></textarea>
                    <a class="User__review__button" id="Postreview">
                        Отправить
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="title__review__right_column">
            <div class="title__review__info">
                <a class="link_to_reviews" href="reviews?page=1">Все рецении</a>
            </div>
        </div>
    </div>
    {#    <iframe width="864" height="486" src="https://rutube.ru/video/cb1154d40a23559d06578dbf16b22c96" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>  <p><a href="https://rutube.ru/video/cb1154d40a23559d06578dbf16b22c96/">«Тотальный футбол»: топовый дебют Миранчука, как поменять наш футбол – реформы Гогниева</a> от <a href="//rutube.ru/metainfo/tv/23137/">Тотальный футбол</a> на <a href="https://rutube.ru/">RUTUBE</a>#}
{% endblock %}
{% block desktop_dop %}

    {#    </form>https://vkvideo.ru/video-220018529_456245111#}
{% endblock %}

{% block mobile_head %}
    <div class="mobile_title_wrapper"></div>
{% endblock %}
